.ddsmoothmenu-v ul{margin:0;padding:0;list-style-type:none;}
.ddsmoothmenu-v ul li{position:relative;float:none;z-index:10!important;}
.ddsmoothmenu-v ul li a{display:block;}
.ddsmoothmenu-v ul li a:link,.ddsmoothmenu-v ul li a:visited,.ddsmoothmenu-v ul li a:active{}
* html .ddsmoothmenu-v ul li{float:left;height:1%}
* html .ddsmoothmenu-v ul li a{height:1%}
.downarrowclass,.rightarrowclass,.leftarrowclass{display:none!important;}