## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##
<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/* text/html text/xml text/css text/plain text/x-component text/x-js text/richtext text/xsd text/xsl
    AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml image/x-icon
    AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
    AddOutputFilterByType DEFLATE font/truetype font/opentype
    Header append Vary User-Agent env=!dont-vary
    AddOutputFilter DEFLATE js css htm html xml text
</ifModule>

# 1 year
<FilesMatch ".(ico|pdf|flv)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
# 1 WEEK
<FilesMatch ".(jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
# 2 DAYS
<FilesMatch ".(xml|txt|css|js)$">
Header set Cache-Control "max-age=604800, proxy-revalidate"
</FilesMatch>
# 2 DAYS
<FilesMatch ".(html|htm|php)$">
Header set Cache-Control "max-age=604800, private, proxy-revalidate"
</FilesMatch>

RewriteEngine on
Options -Indexes
DirectoryIndex index.php

# Link admin
RewriteRule ^admin/$ admin/index.php [L]
RewriteRule ^admin$ admin/index.php [L]

# Link home
RewriteRule ^trang-chu.html$ http://%{HTTP_HOST}/sneakerltepdo [L,R=301]
RewriteRule ^index.html$ http://%{HTTP_HOST}/sneakerltepdo [L,R=301]
RewriteRule ^index$ http://%{HTTP_HOST}/sneakerltepdo [L,R=301]

# Link sitemap
RewriteRule ^sitemap.xml$ sitemap.php [L]

# Link watermark session product
RewriteRule ^product/([0-9]+)x([0-9]+)x([0-9]+)/(.*)$  watermarkProduct.php?src=$4&w=$1&h=$2&zc=$3&q=80&wm=1&wl=3&wmr=2

# Link watermark session product detail
RewriteRule ^detail/([0-9]+)x([0-9]+)x([0-9]+)/(.*)$  watermarkProductDetail.php?src=$4&w=$1&h=$2&zc=$3&q=80&wm=1&wl=3&wmr=2

# Link timthumb
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)x([0-9]+)x([0-9]+)/(.*)\.(jpg|jpeg|png|gif|JPG|PNG)$ timthumb.php?src=$1/$2/$6.$7&h=$4&w=$3&zc=$5&q=80 [L]

# Link slug
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?com=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)&p=([0-9]+)$ index.php?com=$1&p=$2 [L]

# Link search
RewriteRule ^tim-kiem/keyword=(.*)$ index.php?com=tim-kiem&keyword=$1 [L]
RewriteRule ^tim-kiem/keyword=(.*)&p=([0-9]+)$ index.php?com=tim-kiem&keyword=$1&p=$2 [L]

# Link account
RewriteRule ^account/([a-zA-Z0-9_-]+)$ index.php?com=account&kind=$1 [L]
RewriteRule ^account/([a-zA-Z0-9_-]+)/id=(.*)$ index.php?com=account&kind=$1&id=$2 [L]

# Link language
RewriteRule ^([a-z]+)/$ index.php?com=ngonngu&lang=$1 [L]